*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  img{
    max-width: 100%;
  }
  
  /* NAV BAR */
  .navSection{
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 3rem;
  }
  
  h1{
      font-size: 2rem;
  }
  
  a{
      color: black;
      font-weight: 600;
      margin-right:  2rem;
  }
  
  /* BTN */
  .btn{
    cursor: pointer;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* CONTAINER */
  .blogSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem;
  }

  h3{
    margin: 1rem 0 3rem 0;
  }

  .blogImg{
    height: 15rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .container{
    border-radius: 10px;
  }